*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #7be0f1;
}
h1{
	color: #26596d6c;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:#113af0;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#70eefa; 
	color:rgb(9, 55, 124);
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#1e0396;
}
footer{
	color:#358ce2;
	background-color:#4560f8;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}